@page "/profiler"
@using LightQueryProfiler.Shared.Models




<NavMenu StartButtonOnClickCallBack="@OnStart"
		 StopButtonOnClickCallBack="@OnStop"
		 PauseButtonOnClickCallBack="@OnPause"
		 ResumeButtonOnClickCallBack="@OnResume"
		 ServerChanged="@SeverHandler"
		 UserChanged="@UserHandler"
		 PasswordChanged="@PasswordHandler"
		 AuthModeChanged="@AuthenticationModeHandler" />

@*<TableTemplate Items="Events" Context="profilerEvent">
	<TableHeader>
		@foreach (BaseColumnViewTemplate c in ProfilerViewTemplate.Columns)
		{
			<th>@c.Name</th>
		}
	</TableHeader>
	<RowTemplate>
		<td>@profilerEvent.Name</td>
		<td>@profilerEvent.Timestamp</td>
	</RowTemplate>
</TableTemplate>*@

<div class="row mb-1">
	<div class="col-12">
		<div class="table-responsive" style="height: 45vh; overflow: auto;">
			<table class="table table-hover table-bordered tableFixHead">
				<thead class="table-secondary">
					<tr>
						@foreach (BaseColumnViewTemplate c in ProfilerViewTemplate.Columns)
						{
							<th>@c.Name</th>
						}
					</tr>
				</thead>
				<tbody>
					@RowRender
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-12">
		<div style="height: 45vh; " class="overflow-auto form-control" id="sqlTextarea">
			@RawSqlTextAreaHtml
		</div>
	</div>
</div>